{% load widget_tweaks %}

<div id="sous-categorie-wrapper" class="field-group md:col-span-2 lg:col-span-1">
    <div class="field-group">
        <label for="{{ field.id_for_label }}" class="block text-gray-300 text-sm font-medium mb-2">
            <i class="fas fa-list-alt mr-1 text-yellow-400"></i>
            {{ label }}
            {% if required %}<span class="text-red-400">*</span>{% endif %}
        </label>

        {% render_field field %}

        {% if field.errors %}
            <p class="text-red-500 text-xs mt-1">{{ field.errors.0 }}</p>
        {% endif %}
    </div>
</div>